// Variables

$light-grey: #ccc;
$dark-grey: #222;
$black: #000000;
$white: #ffffff;
$teal: #569cb4;

$text-color: $teal;

@import url(https://fonts.googleapis.com/css?family=Oswald);
$oswald: Oswald, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;

@import url(https://fonts.googleapis.com/css?family=Quicksand);
$quicksand: Quicksand, sans-serif;